[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/"
verify_ssl = true

[packages]
openai-whisper = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"
