[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
torch = "*"
prompt-toolkit = "*"
openai = "*"
nltk = "*"
gensim = "*"

[dev-packages]

[requires]
python_version = "3.10"
